/* LoginPage.css */

.login-container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    width: 360px;
  }
  
  .login-form h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .login-form div {
    margin-bottom: 15px;
    width: 339px;
  }
  
  .login-form label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .login-form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
  }
  
  .login-form button {
    padding: 10px;
    background-color: #28b5e4;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .login-form button:hover {
    background-color: #2692b6;;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #e4d8d8;
  }
  
  /* Style for the error message */
  .error {
    color: red;
    text-align: center;
  }
  
  /* Styles for the quotes section */
  .quotes-section {
    text-align: center; /* Center-align quotes */
    margin-top: 20px; /* Space between form and quotes */
    color: #333; /* Text color for quotes */
  }
  